<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools" style="background-color: #27837F">
        <h2>Términos y condiciones de usos</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Bienvenido a infoPSU</h2>
        <p>Te agradecemos que uses nuestros productos y sus servicios (en adelante, “servicios”).</p>
        <p>El uso de nuestros servicios implica la aceptación de las siguientes condiciones. </p>
        <p>El uso de nuestros servicios no te convierte en titular de ninguno de los derechos de propiedad intelectual de los mismos ni del contenido al que accedas. No se te otorga el derecho de usar marcas ni logotipos pertenecientes a nuestros servicios. No elimines ni alteres los avisos legales que se muestran en nuestros.</p>
        <p>Este contenido es responsabilidad exclusiva de la entidad que lo haya puesto a disposición.</p>
        <p>En relación con nuestros servicios, podemos enviarte avisos de servicio, mensajes administrativos y otros tipos de información.</p>
        <h2>Políticas de privacidad</h2>
        <p>Las políticas de privacidad explican el tratamiento de los datos personales y la protección de la privacidad al usar nuestros servicios.</p>
        <p>Al ingresar contenido dentro de nuestros servicios, sigues siendo el titular de los derechos de propiedad intelectual que tengas sobre ese contenido. Al aceptar estos términos y condiciones, Educalabs puede utilizar de diversas maneras tanto la información personal que proporciones al crear tu cuenta como la información que ingreses una vez dentro de alguno de nuestros servicios. Es decir que nos concedes una licencia para usar, alojar, almacenar, reproducir, modificar o vender dicha información y contenidos. El uso de esta información será netamente con el fin de mejorar los servicios ya disponibles y hacer de ellos una mejor experiencia.</p>
        <h2>Acerca de estas condiciones</h2>
        <p>Educalabs puede modifiar estas condiciones en cualquier momento, siempre que notifique a los usuarios de los servicios sobre dichos cambios.</p>
        <p>Todo lo anterior aplica únicamente en Chile y no a nivel global.</p>
        <p>Para mayor información contáctanos al +56 9 7717 0168 o a contacto@infopsu.com.</p>
        <h2>Acerca de las condiciones del concurso.</h2>
        <p>InfoPsu sorteará 2 MacBook Pro y 58 tablets de 7 pulgadas marca Samsung.</p>
        <p>El sorteo se realizará el día lunes 16 de enero de 2017, bajo un sistema electrónico aleatorio. </p>
        <p>Los ganadores deben respaldar el puntaje obtenido ingresado en la plataforma para retirar su premio.</p>
        <p>Los ganadores serán contactados vía correo y/o número de teléfono para la coordinación de retiro de premios.</p>
        <p>Solo se aceptará un premio por persona.</p>
        <p>El ingreso de datos falsos o alterados faculta a InfoPsu para No entregar el premio.</p>
        <p>Los resultados serán entregados en el sitio pondera.cl y en nuestras redes sociales.</p>
        <p>Al ingresar tus datos estás aceptando estas cláusulas de participación.</p>
        <p>Suerte!<p>
        <p><b>Equipo InfoPsu</b></p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Aceptar términos y condiciones
      </md-button>

    </md-dialog-actions>
  </form>
</md-dialog>