<md-toolbar class="md-menu-toolbar" style="width: 100%" >
  <div class="md-toolbar-tools" style="background-color: #27837F">
    <span flex="40"></span>
    <center><img src="img/logo.png" style="padding-top: 10px; padding-bottom: 10px" height="100%"></center>
    <span flex="40"></span>
  </div>
</md-toolbar>

<!-- Empieza Simulador -->
<md-card class="page">
  <md-content class="md-padding">
    <p><center>Hola {{user.name}}! Simula tus puntajes y calcula tu posibilidad de entrar a la universidad que deseas a estudiar lo que deseas.</center></p>
  </md-content>

  <md-content class="md-padding" layout-gt-sm="row" layout-padding layout="column" style="height: auto; width: auto">

      <!-- Puntajes -->
      <div flex-gt-sm="33" flex="99" id="divpuntajes">
        <h3>Ingresa tus puntajes</h3>
        <form class="datos" name="forma">
      
          <!-- Input NEM -->
          <md-input-container class="md-block">
            <label><font color="#ff5930">NEM</font></label>
            <input name="nem" ng-model="user.nem" type="number" required min="150" max="850">
            <!-- Mensaje de error para NEM -->
            <div ng-messages="forma.nem.$error" multiple md-auto-hide="false">
              <div ng-message="min">
                No pudo haberte ido tan mal :(
              </div>

              <div ng-message="max">
                Tranquilo campeón, 850 es el máximo
              </div>
            </div>
          </md-input-container>

          <!-- Input Ranking -->
          <md-input-container class="md-block">
            <label><font color="#ff5930">Ranking</font></label>
            <input name="ranking" ng-model="user.ran" type="number" required min="150" max="850">
            <!-- Mensaje de error para Ranking -->
            <div ng-messages="forma.ranking.$error" multiple md-auto-hide="false">
              <div ng-message="min">
                No pudo haberte ido tan mal :(
              </div>

              <div ng-message="max">
                Tranquilo campeón, 850 es el máximo
              </div>
            </div>
          </md-input-container>


          <!-- Input Mate -->
          <md-input-container class="md-block">
            <label><font color="#ff5930">Mate</font></label>
            <input name="mate" ng-model="user.mat" type="number" required min="150" max="850">
            <!-- Mensaje de error para Mate -->
            <div ng-messages="forma.mate.$error" multiple md-auto-hide="false">
              <div ng-message="min">
                No pudo haberte ido tan mal :(
              </div>

              <div ng-message="max">
                Tranquilo campeón, 850 es el máximo
              </div>
            </div>
          </md-input-container>

          <!-- Input Lenguaje -->
          <md-input-container class="md-block">
            <label><font color="#ff5930">Lenguaje</font></label>
            <input name="leng" ng-model="user.len" type="number" required min="150" max="850">
            <!-- Mensaje de error para Lenguaje -->
            <div ng-messages="forma.len.$error" multiple md-auto-hide="false">
              <div ng-message="min">
                No pudo haberte ido tan mal :(
              </div>

              <div ng-message="max">
                Tranquilo campeón, 850 es el máximo
              </div>
            </div>
          </md-input-container>
        </form>
          <!-- Input Ciencias -->
          <md-input-container class="md-block">
            <label><font color="#ff5930">Ciencias</font></label>
            <input name="ciencias" ng-model="user.cie" type="number"  min="150" max="850">
            <!-- Mensaje de error para Ciencias -->
            <div ng-messages="forma.ciencias.$error" multiple md-auto-hide="false">
              <div ng-message="min">
                No pudo haberte ido tan mal :(
              </div>

              <div ng-message="max">
                Tranquilo campeón, 850 es el máximo
              </div>
            </div>
          </md-input-container>

          <!-- Input Historia -->
          <md-input-container class="md-block">
            <label><font color="#ff5930">Historia</font></label>
            <input name="his" ng-model="user.his" type="number"  min="150" max="850">
            <!-- Mensaje de error para Historia -->
            <div ng-messages="forma.his.$error" multiple md-auto-hide="false">
              <div ng-message="min">
                No pudo haberte ido tan mal :(
              </div>

              <div ng-message="max">
                Tranquilo campeón, 850 es el máximo
              </div>
            </div>
          </md-input-container>
      </div>
      <!--END Puntajes -->

      <!-- Universidad y Carrera -->
      <div flex-gt-sm="33" flex="99" id="divuniversidad">
        <h3><center>Selecciona una Universidad y Carrera</center></h3>
          <!-- Input Universidades -->
          <md-input-container class="md-block">
            <label>Universidad</label>
            <md-icon md-svg-src="img/ues.svg" style="color:grey" class="name"></md-icon>
            <md-select name="universidad" ng-model="user.uid" required ng-change="getCarreras()">
              <md-option ng-repeat="item in ues" value="{{item.uid}}" ng-model="uid">{{item.name}}</md-option>
            </md-select>
          </md-input-container>
          <br>
          <!-- Input Carreras -->
          <md-input-container class="md-block">
            <label>Carrera</label>
            <md-icon md-svg-src="img/carreras.svg" style="color:grey" class="name"></md-icon>
            <md-select name="carrera" ng-model="user.cid" required ng-change="getSubject()">
              <md-option ng-repeat="item in carreras" value="{{item.cid}}" ng-model="uid">{{item.name}}</md-option>
            </md-select>
          </md-input-container>
          <h3>{{submsg}}</h3>

          <!-- Boton de calcular -->
          <center><md-button class="md-raised md-warn" ng-click="simular(forma)">Calcular</md-button></center>
      </div>
      <!-- END Universidad y Carrera -->


      <!-- Resultados -->
      <div flex-gt-sm="33" flex="99" id="divresultados">
        <h3><center>Resultados</center></h3>
        <div flex layout="row" layout-sm="column">
          <div flex>
            <font class="chico">Nem:</font><br>
            <font class="porcentaje" color="#ff5930">{{result.nem}}%</font>
          </div>
          <div flex>
            <font class="chico">Ran:</font><br>
            <font class="porcentaje" color="#ff5930">{{result.ran}}%</font>
          </div>
          <div flex>
            <font class="chico">Mat:</font><br>
            <font class="porcentaje" color="#ff5930">{{result.mat}}%</font>
          </div>
          <div flex>
            <font class="chico">Len:</font><br>
            <font class="porcentaje" color="#ff5930">{{result.len}}%</font>
          </div>
          <div flex>
            <font class="chico">Opt:</font><br>
            <font class="porcentaje" color="#ff5930">{{result.opt}}%</font>
          </div>
        </div> 
        <br><br>

        <div flex layout="row" layout-sm="column">
          <div flex>
            <font class="chico">Último matriculado:</font><br>
            <center><font class="porcentaje">{{result.corte}}</font></center>
          </div>
          <div flex>
            <font class="chico">Tu puntaje:</font><br>
            <center><font class="porcentaje" color="#ff5930">{{result.pond}}</font></center>
          </div>
          <div flex>
            <font class="chico">Diferencia:</font><br>
            <center><font class="porcentaje">{{result.dif}}</font></center>
          </div>
        </div>
        <div flex>
          <h3>{{umsg}}</h3>
        </div>

      </div>
      <!-- END Resultados -->




  </md-content>
</md-card>