<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simulador InfoPSU</title>
	<meta name="description" content="Simula tu ponderación con nosotros y estarás participando por increíbles premios">
	<meta name="keywords" content="">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="shortcut icon" href="img/count/favicon.ico">
	<meta content=#27837F name=theme-color>

	<link rel="stylesheet" href="css/count/style.css">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="js/count/countdown.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.23/owl.carousel.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/uikit.min.js"></script>
	<script src="js/count/scripts.js"></script>

	<!-- Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-82803814-4', 'auto');
	  ga('send', 'pageview');

	</script>
</head>

<body id="backtotop">

<div class="fullwidth clearfix">
	<div id="topcontainer" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
		
		<p><img src="img/count/logo.png" width="100%"></p>
		
	</div>
</div>

<div class="arrow-separator arrow-white"></div>

<div class="fullwidth colour1 clearfix">
	<div id="countdown" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

		<div id="countdowncont" class="clearfix">
			<ul id="countscript">
				<li>
					<span class="days">00</span>
					<p>Día</p>
				</li>
				<li>
					<span class="hours">00</span>
					<p>Horas</p>
				</li>
				<li class="clearbox">
					<span class="minutes">00</span>
					<p>Minutos</p>
				</li>
				<li>
					<span class="seconds">00</span>
					<p>Segundos</p>
				</li>
			</ul>
		</div>
	
	</div>
</div>

<div class="arrow-separator arrow-theme"></div>

<div class="fullwidth colour3 clearfix">
	<div id="maincont" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

		<font color="#999">
		<h2>¡Calcula tu ponderación con nosotros y gana!</h2>
		<p>Este <strong>26 de Diciembre</strong> a partir de las <strong>8:00</strong> ingresa a <em>www.pondera.cl</em> y calcula tu ponderación con los resultados obtenidos en la PSU.</p>

		<p>Al calcular tu ponderación automáticamente estarás participando por uno de los <strong>2 MacBook Pro</strong> o uno de los <strong>58 Samsung Galaxy Tab</strong> que tenemos para sortear.</p>
		</font>
		<img src="img/count/juntas.png" height="" width="100%">
		
	</div>
</div>

<div class="arrow-separator arrow-grey"></div>

<div class="fullwidth clearfix">
	<div id="footercont" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">

		<div id="socialmedia" class="clearfix">
			<ul>
				<li><a  target="_blank" title="" href="https://www.facebook.com/sharer/sharer.php?u=http://www.pondera.cl" rel="external"><span class="fa fa-facebook"></span></a></li>
				<li><a target="_blank" title="" href="https://twitter.com/?status=Calcula tu ponderación junto a http://www.pondera.cl y participa  por increíbles premios" rel="external"><span class="fa fa-twitter"></span></a></li>
				<li><a target="_blank" title="" href="http://www.instagram.com/infopsu" rel="external"><span class="fa fa-instagram"></span></a></li>
			</ul>
		</div>
	</div>
</div>
   


</body>
</html>